[submodule "vendors/Opauth/Strategy/Google"]
	path = vendors/Opauth/Strategy/Google
	url = git://github.com/uzyn/opauth-google.git
[submodule "vendors/Opauth/Strategy/GoogleStrategy"]
	path = vendors/Opauth/Strategy/GoogleStrategy
	url = git://github.com/uzyn/opauth-google.git
